
.DS_Store
/captures
/.gradle
/.idea
/out
/build
*.ipr
*.iws
*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx
local.properties
